body {
    padding-top: 56px;
    background-color: unset;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}
.theme-navbar-color h4 {
    color: #80DED9;
}
.theme-navbar-color {
    color: #80DED9;
}
.topside {
    width:100%;
    height:100px;
    padding:10px;
    background-color: #80DED9;
}
.leftside {
    width:20%;
    height:600px;
    padding:10px;
    float:left;
    background-color: #6D9DC5;

}
.rightside {
    width:80%;
    height:600px;
    padding:10px;
    float:left;
    background-color: #3066BE;
}
.bottomside {
    width:100%;
    height:100px;
    padding:10px;
    background-color: #119DA4;
}
#code {
    color:white;
    font-family: Consolas;
    font-size: 120%;
    padding: 6px;
    overflow:scroll;
    height:588px;
    white-space: pre;

}
.container {


}

html {
    background: url(images/twilight-wallpaper.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.front-page {
    color: #80DED9;
}
.register, .login {

    background-color: #80DED9;
    text-align: center;
    width:472px;
    padding: 9px;
    opacity: 0.8;
    border-radius: 2px;

}
td {
    width: 50%;
    text-align:right;
    color: #3066BE;

}
input[type=text],input[type=email],input[type=password] {
    width: 100%;
    text-align:left;
    border: none;
    outline: none;
    color: #3066BE;

}